.venv/
venv/
tmp/
temp/
*.pkl
*.py[co]
*.ipynb
*.rdb
**/.DS_Store
**/.idea/
**/__pycache__/
**/.tox/
**/.pytest_cache/
**/.ipynb_checkpoints/
**/.python-version
**/.mypy_cache/
**/notebook/
*.egg-info/
*.yaml-e
.env
.env*.local
**/*.zip
.direnv
.envrc.private
.pre-commit-config.yaml
.envrc.private
**/target
**/node_modules


# Added by cargo

/target
**/vendor
